@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=JetBrains+Mono&display=swap');
$primary-font: JetBrains Mono,'DM Mono','Courier New', Courier, monospace;
$primary: #212121;
$secondary: #464646;
$light-grey: #919191;
$font-color: #e9ece9;
$input-color: rgb(32, 32, 32);
$blue-accent: #50E7F0;
$heading-font-size: 1.8rem;

html{
    font-size: 62.5%;
    font-family: $primary-font;
    color: $font-color;
}

body{
    background: $primary;
}

@import "./components/Container.scss";
@import "./components/Search.scss";
@import "./components/MovieList.scss";
@import "./components/Movie.scss"